@import "variables";
@import "mixins";
@import "fonts";
@import "nucleo";

html, body {
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  background-color: #fff;
  color: $mainColor;
  line-height: $mainLineHeight;
}

body.bg-food {
  background-image: url(../img/bg.png);
  background-repeat: repeat-y;
  background-attachment: scroll;
  background-size: contain;
}

.overlay, .overlay-filter {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3e3e3e;
  opacity: 0.6;
  z-index: 999;
  display: none;

  &.show {
    display: block;
  }
}


@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
  }
}

.section {
  padding: 50px 0 0 0;

  &.last {
    padding: 50px 0 50px 0;
  }
}

.lorem {
  p, ul, li, ol, span, div, h1,h2,h3,h4,h5,h6,b {
    font-family: 'Lato', sans-serif !important;
  }
}


.top-nav {
  background-color: #fcca00;
  font-weight: 600;

  .logo-text {
    margin-left: 100px;
    font-size: rem(12);
    text-transform: uppercase;
    @media screen and (max-width: 1200px) {
      margin-left: 75px;
    }
    @media screen and (max-width: $smTableWidth) {
      visibility: hidden;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;

    .top-left-nav {
      display: flex;
      align-items: center;

      .mail, .phone {
        color: $mainColor;
        margin-right: 20px;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        @media screen and (max-width: $tableDesktopWidth) {
          display: none;
        }

        i {
          margin-right: 5px;
          color: #f98d05;
        }
      }

      .langs {
        margin-left: 20px;
        display: flex;
        align-items: center;

        .lang {
          margin: 0;
          border-radius: 6px;
          padding: 8px 10px;
          font-weight: 600;
          color: $mainColor;
          font-size: rem(12);

          &:hover {
            text-decoration: none;
          }

          &.active {
            background-color: #f9b505;
          }
        }
      }
    }
  }
}

.navbar {
  padding: 15px 16px;

  .mobile-menu {
    display: flex;
    @media screen and (max-width: $smTableWidth) {
      justify-content: space-between;
      width: 100%;
    }
  }

  .navbar-brand {
    img {
      width: 200px;
      height: auto;
      margin-top: -50px;
      @media screen and (max-width: 1200px) {
        width: 160px;
      }
    }

    @media screen and (max-width: $smTableWidth) {
      position: absolute;
      top: -10px;
      left: 10px;
      margin: 0;
      img {
        width: 90px;
      }
    }
  }

  .navbar-nav {
    align-items: center;
    text-transform: uppercase;
    font-size: rem(14);
    font-weight: 600;
    @media screen and (max-width: 1200px) {
      font-size: rem(13);
    }

    .nav-link {
      background-color: transparent;
      padding: 8px 15px !important;
      color: $mainColor;
      margin-right: 10px;
      border-radius: 10px;
      font-weight: 600;
      transition: 0.15s all ease;
      @media screen and (max-width: 1200px) {
        margin-right: 6px;
        padding: 8px 12px !important;
      }

      &.active, &:hover {
        background-color: #f8f5fa;
        color: #712694;
      }

      i {
        color: #712694;
        font-size: rem(16);
        margin-right: 5px;
        position: relative;
        top: 2px;
      }
    }
  }

  .menu-icons {
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    display: flex;
    padding: 10px;

    .menu-icon {
      text-align: center;
      padding: 0 20px;
      color: #3e3e3e;
      font-size: rem(10);
      font-weight: 600;
      text-transform: uppercase;

      &:hover {
        text-decoration: none;
      }

      i {
        color: #b7a2be;
        font-size: rem(20);
      }

      span {
        display: block;
        color: #6d6d6d;
      }
    }
  }
}

.main {
  @media screen and (max-width: $tableWidth) {
    display: none;
  }
  position: relative;

  .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    .owl-dots {
      position: absolute;
      bottom: 30px;
      right: 70px;
      list-style: none;
      display: flex;
      z-index: 22;

      .owl-dot {
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: 2px solid #fff;
        margin-left: 10px;
        border-radius: 50%;

        &.active {
          background-color: #fff;
        }
      }
    }

    .customPrevBtn {
      position: absolute;
      top: 50%;
      left: -70px;
      z-index: 22;
      transform: translateY(-50%);
      cursor: pointer;
      @media screen and (max-width: $lgDesktopWidth) {
        left: -20px;
      }
      @media screen and (max-width: $desktopWidth) {
        display: none;
      }

      i {
        font-size: rem(60);
        color: #999;
        @media screen and (max-width: $lgDesktopWidth) {
          font-size: rem(40);
        }
      }
    }

    .customNextBtn {
      position: absolute;
      top: 50%;
      right: -70px;
      z-index: 22;
      transform: translateY(-50%);
      cursor: pointer;
      @media screen and (max-width: $lgDesktopWidth) {
        right: -20px;
      }
      @media screen and (max-width: $desktopWidth) {
        display: none;
      }


      i {
        font-size: rem(60);
        color: #999;
        @media screen and (max-width: $lgDesktopWidth) {
          font-size: rem(40);
        }
      }
    }
  }

  .main-carousel {

    .item {
      width: 1160px;
      margin: 0 4vw;
      @media screen and (max-width: 1200px) {
        width: 930px;
      }
      @media screen and (max-width: 991px) {
       max-width: 720px;
        padding-left: 15px;
        padding-right: 15px;
      }

      @media screen and (max-width: 768px) {
        max-width: 540px;
        padding-left: 15px;
        padding-right: 15px;
      }
      @media screen and (max-width: 600px) {
        max-width: 100%;
        width: auto;
        padding-left: 0;
        padding-right: 0;
      }
      .box {
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        @media screen and (max-width: 600px) {
            object-fit: cover;
            width: 100%;
            height: 250px;
          img{
            width: auto;
            height: 250px;
          }
        }
      }
    }

    .owl-item {
      transition: 0.4s all ease;
      opacity: 1;
    }

    .owl-item:not(.center) {
      opacity: 0.3;
    }

    .card {
      border-radius: 10px;
      border: 2px solid #f2f2f2;
      position: relative;

      .card-image {
        max-height: 130px;
        overflow: hidden;
        border-radius: 10px 10px 0 0;
      }

      .card-body {
        @media screen and (max-width: 1200px) {
          padding: 10px;
        }

        .title-card {
          margin: 0;
          font-weight: 600;
          display: block;
          color: $mainColor;
          text-decoration: none;
        }

        span {
          color: #999;
        }
      }

      .discount {
        position: absolute;
        top: 20px;
        left: 0;
        background-color: #e56053;
        color: #fff;
        font-size: rem(20);
        font-weight: 600;
        padding: 5px 20px 5px 10px;
        border-radius: 0 20px 20px 0;
      }

      .price {
        position: absolute;
        top: 100px;
        right: -30px;
        background-color: #875798;
        color: #fff;
        padding: 2px 15px;
        border-radius: 6px;
        font-size: rem(24);
        font-weight: 600;

        .old-price {
          font-size: rem(14);
          font-weight: 400;
          opacity: 0.7;
        }
      }

      .eco {
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50px;
        background-color: #9dc550;
        width: 30px;
        height: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: rem(15);
        color: #fff;
      }
    }

    .discount-left {
      font-size: rem(18);
      color: #9675a3;
      font-weight: 600;
    }

    .date {
      font-weight: 800;
      font-size: rem(52);
      color: #fcca00;
    }

    .title {
      font-family: 'Handelson-ThreeCYR', sans-serif;
      font-size: rem(200);
      color: #fff;
      margin-top: -120px;
      margin-bottom: -40px;
      text-shadow: 4px 4px 1px rgba(58, 2, 89, 0.75);
      @media screen and (max-width: 1200px) {
        font-size: rem(160);
        margin-top: -80px;
        margin-bottom: -20px;
      }
    }
  }
}

.special-carousel {
  .owl-nav {
    position: absolute;
    top: -65px;
    right: 0;
    @media screen and (max-width: $tableWidth) {
      display: none;
    }

    .owl-prev {
      i {
        font-size: rem(25);
        color: #d6d6d6;
      }
    }

    .owl-next {
      margin-left: 20px;

      i {
        font-size: rem(25);
        color: #d6d6d6;
      }
    }
  }
}


.btn-custom {
  font-size: rem(16);
  padding: 8px 30px;
  border-radius: 50px;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  font-weight: 600;
  white-space: nowrap;

  &.orange {
    border-color: #f9b505;
    color: #f9b505;

    &:hover {
      background-color: #f9b505;
      color: #fff;
    }
  }

  &.green {
    border-color: #9dc550;
    color: #9dc550;

    &:hover {
      background-color: #9dc550;
      color: #fff;
    }
  }

  &.purple {
    border-color: #875798;
    color: #875798;

    &:hover {
      background-color: #875798;
      color: #fff;
    }
  }
}

.btn-basket {
  padding: 5px 20px;
  border-radius: 6px;
  background-color: #875798;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: #71497f;
  }
}

.stock {
  @media screen and (max-width: $tableWidth) {
    padding: 0;
  }
  img {
    width: 100%;
    height: auto;
    @media screen and (max-width: $smTableWidth) {
      margin-bottom: 20px;
    }
  }

  .card {
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: right;

    p {
      margin: 0;
    }

    .card-body {
      padding: 20px 40px;
      @media screen and (max-width: 1200px) {
        padding: 15px 30px;
      }

      .discount {
        font-size: rem(22);
        color: #9675a3;
        font-weight: 600;
        @media screen and (max-width: 1200px) {
          font-size: rem(16);
        }
        @media screen and (max-width: $tableDesktopWidth) {
          line-height: 1;
        }
      }

      .date {
        font-weight: 800;
        font-size: rem(42);
        color: #fcca00;
        margin-top: 20px;
        @media screen and (max-width: 1200px) {
          margin-top: 10px;
        }
        @media screen and (max-width: $tableDesktopWidth) {
          font-size: rem(23);
        }
      }

      .title {
        font-family: 'Handelson-ThreeCYR', sans-serif;
        font-size: rem(120);
        color: #fff;
        margin-top: -50px;
        margin-bottom: -15px;
        text-shadow: 4px 4px 1px rgba(58, 2, 89, 0.75);
        @media screen and (max-width: 1200px) {
          font-size: rem(80);
          margin-top: -20px;
          margin-bottom: 0;
        }
        @media screen and (max-width: $tableDesktopWidth) {
          font-size: rem(60);
        }
      }
    }
  }
}

.section-head {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 20px;
  @media screen and (max-width: $smTableWidth) {
    display: block;
  }

  .title {
    font-size: rem(44);
    text-transform: uppercase;
    font-weight: 600;
    color: #3e3e3e;
    margin: 0;
    @media screen and (max-width: 1200px) {
      font-size: rem(36);
    }
    @media screen and (max-width: $smTableWidth) {
      font-size: rem(20);
    }
  }

  a, span {
    font-size: rem(14);
    color: #be9acb;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 20px;
    @media screen and (max-width: $smTableWidth) {
      margin-left: 0;
    }
  }

  span {
    font-size: rem(18);
  }
}

.big-title {
  font-size: rem(40);
  font-weight: 900;
  text-transform: uppercase;
  color: #3e3e3e;
  line-height: 1.2;
  @media screen and (max-width: 1200px) {
    font-size: rem(30);
  }
  @media screen and (max-width: $tableDesktopWidth) {
    color: #fff;
    margin-bottom: 20px;
  }
  @media screen and (max-width: $smTableWidth) {
    font-size: rem(20);
    text-align: center;
  }
}

.card {
  border-radius: 10px;
  border: 2px solid #f2f2f2;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &.custom-card {
    .title-card {
      margin: 0;
      display: block;
      color: $mainColor;
      text-decoration: none;
      font-weight: 600;
    }

    .card-image {
      max-height: 200px;
      overflow: hidden;
      border-radius: 10px 10px 0 0;

      img {
        width: 100%;
        height: auto;
      }
    }

    .card-body {
      .rating-favorite {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .stars {
          i {
            color: #fcca00;
          }

          .new {
            margin-left: 5px;
            color: #875798;
            font-size: rem(15);
            font-weight: 600;
          }
        }

        .like {
          i {
            color: #e0e0e0;
          }

          &.active {
            i {
              color: #875798;
            }
          }
        }
      }

      .title {
        margin: 0;
        font-weight: 600;
        font-size: rem(14);
      }

      .weight {
        font-size: rem(13);
        color: #a6a6a6;
        font-weight: 400;
      }

      .price-block {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .price {
          color: #3e3e3e;
          font-size: rem(24);
          font-weight: 800;

          .old-price {
            font-size: rem(14);
            font-weight: 400;
            text-decoration: line-through;
            opacity: 0.7;
          }
        }
      }
    }

    .discount {
      position: absolute;
      top: 20px;
      left: 0;
      background-color: #e56053;
      color: #fff;
      font-size: rem(20);
      font-weight: 600;
      padding: 5px 20px 5px 10px;
      border-radius: 0 20px 20px 0;
    }

    .eco {
      position: absolute;
      top: 10px;
      right: 10px;
      border-radius: 50px;
      background-color: #9dc550;
      width: 30px;
      height: 30px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: rem(15);
      color: #fff;
    }
  }
}

.card.news-card {
  border-radius: 10px;
  position: relative;
  border: none;
  background-color: #f5f5f5;

  .card-image {
    max-height: 250px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  .card-body {
    min-height: 220px;
    max-height: 250px;

    .title-card {
      font-size: rem(27);
      font-weight: 600;
      color: #3e3e3e;
      text-decoration: none;
      line-height: 1.1;
      margin-bottom: 20px;
      display: block;
      @media screen and (max-width: $smTableWidth) {
        font-size: rem(22);
      }

    }

    .desc {
      font-size: rem(16);
      font-family: 'Lato', sans-serif;
      display: block;
      line-height: 1.5;
      max-width: 100%;
      max-height: 100px;
      text-align: left;
      position: relative;
      overflow: hidden;

      &:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
      }

      &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: white;
      }
    }
  }

  .card-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 20px 20px;

    .btn-more {
      background-color: #eaeaea;
    }

    small {
      color: #a6a6a6;
      font-size: rem(16);
    }
  }
}

.bordered-image {
  border-radius: 10px;
  width: 100%;
  height: auto;

  &.orange {
    border-bottom: 10px solid #f9b505;
  }

  &.green {
    border-bottom: 10px solid #9dc550;
  }
}

p {
  margin: 0;
}

@media screen and (max-width: $tableWidth) {
  .logo-banner {
    width: 200px;
  }
}

p.handelson-title {
  font-family: 'Handelson-ThreeCYR', sans-serif !important;
  font-size: rem(100);
  line-height: 1;
  margin-bottom: 10px;
  @media screen and (max-width: 1200px) {
    font-size: rem(75);
  }

  @media screen and (max-width: $tableWidth) {
    font-size: rem(55);
  }

  @media screen and (max-width: $smTableWidth) {
    font-size: rem(36);
  }

  &.orange {
    color: #f9b505;
  }

  &.green {
    color: #9dc550;
  }
}


.card {
  &.banner {
    color: #fff;
    @media screen and (max-width: $smTableWidth) {
      text-align: center;
    }

    h4 {
      font-size: rem(44);
      font-weight: 900;
    }
  }
}

.footer {
  padding: 50px 0;
  background-color: #f6f6f6;

  .btn-app {
    i {
      font-size: rem(16);
      color: #875798;
      margin-right: 6px;
    }

    text-decoration: none;
    color: $mainColor;
    text-transform: uppercase;
    font-size: rem(13);
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }

  .logo-footer {
    width: 170px;
    height: auto;
    filter: grayscale(1);
  }

  .logo-title {
    font-size: rem(13);
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #3e3e3e;
  }

  .phone {
    font-size: rem(32);
    font-weight: 900;
    color: $mainColor;
    @media screen and (max-width: 1200px) {
      font-size: rem(24);
    }
  }

  .subphone {
    font-size: rem(12);
    text-transform: uppercase;
  }

  .links {
    a {
      text-transform: uppercase;
      color: #a7a7a7;
      margin-right: 20px;
      font-size: rem(12);
      margin-bottom: 30px;
      line-height: 2.5;
    }
  }

  .desc-title {
    font-size: rem(15);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .desc-subtitle {
    font-size: rem(12);
    text-transform: uppercase;
    color: #a7a7a7;
  }
}

.social {
  background-color: #875798;
  padding: 20px 0;

  p {
    font-size: rem(12);
    color: #fff;
  }

  a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #734185;
    border-radius: 50px;
    transition: 0.2s all ease;
    margin-left: 10px;

    i {
      font-size: rem(20);
      color: #fff;
    }

    &:hover {
      background-color: #5a2a6b;
      text-decoration: none;
    }
  }
}

.menu-bar {
  display: none;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media screen and (max-width: $smTableWidth) {
    width: 100%;
  }
  @media screen and (max-width: $smPhoneWidth) {
    zoom: 0.85;
  }
}

.contacts-m {
  display: none;
}


@media screen and (max-width: $tableDesktopWidth) {
  .menu-bar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 61px;
    width: 61px;
    margin-left: 10px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    transition: 0.15s all ease;

    &:hover {
      background-color: #eee1f2;
      color: #fff;
    }
  }

  .menu-list {
    .navbar-nav {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 9990;
      width: 350px;
      height: 100%;
      background-color: #fff;
      padding: 20px 0;
      box-shadow: 0 0 5px #999;
      transform: translateX(102%);
      transition: 0.3s all ease;

      .nav-link {
        margin-bottom: 20px;
      }

      .contacts-m {
        display: block;
        text-align: center;
        position: absolute;
        bottom: 20px;

        p {
          margin-right: 20px;
          display: inline-flex;
          align-items: center;

          i {
            margin-right: 5px;
            color: #f98d05;
          }
        }
      }
    }

    &.open {
      .navbar-nav {
        transform: translateX(0);
      }
    }
  }
}

@media screen and (max-width: $smTableWidth) {
  .navbar-nav {
    width: 80% !important;
  }
}


@media (max-width: 991.98px) {
  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}


@media (max-width: $smTableWidth) {
  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}

.checkboxes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 100%;
  @media screen and (max-width: $smTableWidth) {
    justify-content: space-between;
  }

  .checkbox-group {
    @media screen and (max-width: $smTableWidth) {
      width: 48%;
      text-align: center;
    }
    position: relative;

    i {
      font-size: rem(11);
      color: #9e9e9e;
      margin-left: 10px;
      position: absolute;
      right: 35px;
      top: 45%;
      transform: translateY(-50%);
    }

    @media screen and (max-width: $smTableWidth) {
      font-size: rem(10);
      width: 100%;
      i {
        display: none;
      }
    }

    input:checked + label {
      background-color: #f2f2f2;
    }

    &:last-child {
      label {
        margin-right: 0;
      }

    }
  }
}


.breadcrumbs {
  opacity: 0.7;
  font-size: rem(14);
  padding: 0;
  background-color: transparent;
  margin-bottom: 20px;

  a {
    margin-right: 5px;
    text-decoration: none;
    color: $mainColor;
  }

  span {
    margin-left: 5px;
  }
}

.filters-block {
  @media screen and (max-width: $smTableWidth) {
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: auto;
    width: 80%;
    z-index: 1001;
    background-color: #fff;
    transform: translateX(-101%);
    transition: 0.3s all ease;
    &.open {
      transform: translateX(0);
    }
  }

  .filter {
    .filter-title {
      padding: 15px 25px;
      color: #712694;
      font-weight: 600;
      font-size: rem(20);
      background-color: #f8f5fa;
      border-radius: 10px;
    }

    .filter-action {
      padding: 15px 25px;
      color: $mainColor;
      font-weight: 600;
      font-size: rem(16);
      background-color: #f7f7f7;
      border-radius: 10px;
      display: inline-flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      cursor: pointer;
      transition: 0.15s all ease;

      &:hover {
        background-color: #f2f2f2;
      }

      i {
        font-size: rem(12);
        color: #9a9a9a;
        transition: 0.2s all ease;
      }

      &.active {
        i {
          transform: rotate(180deg);
        }
      }
    }

    .filter-list {
      list-style: none;
      padding-inline-start: 0;
      padding: 20px 0;

      li {
        a {
          text-decoration: none;
          display: inline-flex;
          width: 100%;
          align-items: center;
          justify-content: flex-start;
          padding: 15px 25px 15px 25px;
          color: $mainColor;
          font-weight: 600;
          font-size: rem(16);
          background-color: transparent;
          border-radius: 10px;

          &.active {
            background-color: #f8f5fa;
            color: #712694;
          }

          i {
            font-size: rem(20);
            margin-right: 10px;
            opacity: 0.5;
            margin-left: -15px;
          }

          &:hover {
            background-color: #f8f5fa;
            color: #712694;
          }
        }
      }
    }

    .collapse-filter {
      margin: 20px 0;
      max-height: 0;
      overflow: hidden;
      transition: 0.3s all ease;

      &.open {
        max-height: 400px;
      }

      .filter-check {
        padding: 5px 25px 5px 10px;
        color: $mainColor;
        font-size: rem(16);

        input {
          position: absolute;
          opacity: 0;

          & + label {
            position: relative;
            cursor: pointer;
            padding: 0;
          }

          & + label:before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            width: 20px;
            height: 20px;
            background: transparent;
            border: 1px solid #ececec;
            border-radius: 3px;
          }

          &:hover + label:before {
            background: #712694;
          }

          &:focus + label:before {
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
          }

          &:checked + label:before {
            background: #712694;
          }

          &:disabled + label {
            color: #b8b8b8;
            cursor: auto;
          }

          &:disabled + label:before {
            box-shadow: none;
            background: #ddd;
          }

          &:checked + label:after {
            content: '';
            position: absolute;
            left: 5px;
            top: 9px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white,
            4px 0 0 white,
            4px -2px 0 white,
            4px -4px 0 white,
            4px -6px 0 white,
            4px -8px 0 white;
            transform: rotate(45deg);
          }
        }
      }

      .checkboxes-scroll {
        max-height: 400px;
        overflow: auto;
        @media screen and (max-width: $smTableWidth) {
          overflow: visible;
          max-height: 100%;
        }

        &::-webkit-scrollbar-track {
          border-radius: 10px;
          background-color: #F5F5F5;
        }

        &::-webkit-scrollbar {
          width: 10px;
          background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #d4d4d4;
        }
      }
    }
  }
}

.filter-mobile {
  background-color: #734185;
  color: #fff;
  border-radius: 10px;
  padding: 12px 15px;
  font-size: rem(13);
  margin-bottom: 20px;
  display: none;
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 1000;
  @media screen and (max-width: $smTableWidth) {
    display: inline-block;
  }
}

.pagination {
  margin: 0 0 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #3e3e3e;
  @media screen and (max-width: $smTableWidth) {
    display: block;
    margin: 0;
  }

  .more {
    text-transform: uppercase;
    padding: 0 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    font-size: rem(13);
    font-weight: 600;
    @media screen and (max-width: $smTableWidth) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding-inline-start: 0;

    li {
      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        height: 50px;
        width: 50px;
        border-radius: 10px;
        background-color: #fff;
        border: 1px solid #f2f2f2;
        font-size: rem(18);
        font-weight: 600;
        transition: 0.15s all ease;
        cursor: pointer;
        color: $mainColor;
        text-decoration: none;
      }

      &.dots {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        height: 50px;
        width: 50px;
        border-radius: 10px;
        font-size: rem(18);
        font-weight: 600;
        transition: 0.15s all ease;
        background-color: transparent;
        color: $mainColor;
        border: 1px solid transparent;
        cursor: default;

        &:hover {
          border: 1px solid transparent;
        }
      }

      &.active {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        height: 50px;
        width: 50px;
        border-radius: 10px;
        font-size: rem(18);
        font-weight: 600;
        transition: 0.15s all ease;
        background-color: #875798;
        border: 1px solid #875798;
        cursor: default;
        color: #fff;
      }

      &:hover {
        a {
          border: 1px solid #875798;
        }
      }
    }
  }
}


.news-sidebar {
  a {
    display: block;
    text-decoration: none;
    color: #3e3e3e;
    padding: 10px 0;
    border-top: 2px solid #f2f2f2;
    position: relative;

    &:last-child {
      border-bottom: 2px solid #f2f2f2;
    }

    span {
      font-size: rem(20);
      font-weight: 600;
      display: block;
      line-height: 1;
      max-width: 80%;
      max-height: 60px;
      position: relative;
      overflow: hidden;

      &:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
      }

      &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: white;
      }
    }

    small {
      display: block;
      color: #a6a6a6;
      font-size: rem(14);
      margin-top: 5px;
    }

    i {
      position: absolute;
      top: 7px;
      right: 15px;
      background-color: #f5f5f5;
      color: #ababab;
      padding: 5px 10px;
      border-radius: 6px;
      opacity: 0;
      transition: 0.15s all ease;
    }

    &:hover {
      i {
        right: 0;
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: $tableDesktopWidth) {
  .more-news-block {
    display: none;
  }
}

.new-content {
  .image {
    border-radius: 10px;
    max-height: 300px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  span {
    font-size: rem(16);
    color: #a6a6a6;
  }

  .title {
    font-size: rem(44);
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .lorem {
    margin-bottom: 40px;

    p {
      margin-bottom: 20px;
      line-height: 1.5;
      font-family: 'Lato', sans-serif;
    }
  }
}

.item {
  .item-card {
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    padding: 20px;

    .title {
      font-size: rem(40);
      font-weight: 600;
      @media screen and (max-width: $smTableWidth) {
        font-size: rem(26);
      }

      i {
        margin-left: 10px;
        border-radius: 50px;
        background-color: #9dc550;
        width: 30px;
        height: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: rem(15);
        color: #fff;
        position: relative;
        bottom: 4px;
      }
    }

    .stars {
      i {
        color: #fcca00;
        font-size: rem(16);
      }

      span {
        margin-left: 10px;
        color: #a5a5a5;
      }
    }

    .item-desc {
      font-size: rem(18);
      color: #a5a5a5;
    }

    .price {
      font-size: rem(40);
      font-weight: 900;
      @media screen and (max-width: $smTableWidth) {
        font-size: rem(30);
      }

      .old-price {
        font-size: rem(22);
        font-weight: 400;
        text-decoration: line-through;
        opacity: 0.6;
        margin-left: 5px;
        @media screen and (max-width: $smTableWidth) {
          font-size: rem(18);
        }
      }
    }

    .fovorit {
      color: #c9c9c9;
      font-size: rem(18);
      margin-left: 50px;
      text-decoration: none;
      position: relative;
      top: 10px;
      display: inline-flex;
      align-items: center;

      i {
        font-size: rem(24);
        margin-right: 5px;
      }

      @media screen and (max-width: $smTableWidth) {
        margin-left: 0;
      }
    }
  }

  .nav-tabs {
    .nav-link {
      border-radius: 0;
      font-weight: 600;
      color: #3e3e3e;
      border: none;

      &.active {
        border-bottom: 4px solid #875798;

        &:hover {
          border-bottom: 4px solid #875798;
        }
      }

    }
  }

  .item-lorem {
    padding: 20px 0;

    p {
      font-family: "Lato", sans-serif;
      color: #a5a5a5;
    }
  }

  .item-carousel {
    .item {
      position: relative;

      img {
        border-radius: 10px;
      }
    }

  }
}


.product-slider {
  position: relative;

  .discount {
    position: absolute;
    top: 20px;
    left: 15px;
    background-color: #e56053;
    color: #fff;
    font-size: rem(20);
    font-weight: 600;
    padding: 5px 20px 5px 10px;
    border-radius: 0 20px 20px 0;
    z-index: 22;
  }
}


.modal-call {
  padding: 0 !important;

  .modal-dialog {
    max-width: 100%;
    margin: 0 !important;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: $smTableWidth) {
      padding: 20px;
    }

    .modal-content {
      max-width: 500px;
      background-image: url(../img/bg.png);
      background-repeat: repeat-y;
      background-attachment: scroll;
      background-size: contain;
      background-position: center;

      .modal-body {
        max-height: calc(100vh - 200px);
        overflow: auto;
        padding: 20px 50px;
        @media screen and (max-width: $smTableWidth) {
          padding: 20px;
          max-height: calc(100vh - 100px);
        }

        &::-webkit-scrollbar-track {
          border-radius: 10px;
          background-color: #F5F5F5;
        }

        &::-webkit-scrollbar {
          width: 7px;
          background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #c9c9c9;
        }
      }
    }
  }

  .form-control {
    height: 50px;

    &::placeholder {
      color: #aaa;
      @media screen and (max-width: $smTableWidth) {
        font-size: rem(12);
      }

    }
  }

  .btn-modal {
    background-color: #875798;
    color: #fff;
    border-radius: 50px;
    padding: 10px 30px;
    margin-top: 10px;

    &:hover {
      background-color: #724980;
    }

    &:focus {
      background-color: #623f6e;
    }
  }
}


.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 20px;
}
.select {
  cursor: pointer;
  position: relative;
  font-size: 16px;
  color: #414042;
  width: 100%;
  height: 50px;
}
.select-styled {
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  padding: 12px 40px 12px 15px;
  text-transform: uppercase;
  font-size: rem(13);
  font-weight: 600;
  cursor: pointer;
  margin-right: 20px;
  background-color: transparent;
  transition: 0.15s all ease;
  -webkit-appearance: none;
  appearance: none;
  min-width: 250px;

  &:focus-visible {
    outline: none;
  }

  &::-ms-expand {
    display: none;
  }
  &.active{
    background-color: #f2f2f2;
  }
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color:#fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 #dbdbdb;
  li {
    margin: 0;
    padding: 10px 0;
    text-indent: 20px;
    border-bottom: 1px solid darken(#ffffff, 10);
    &:last-child{
      border-bottom: none;
    }
    &[rel="hide"] {
      display: none;
    }
    &:hover{
      background-color: #f2f2f2;
    }
  }
}
