$mainFont: 'Averta Cyrillic', sans-serif;

$mainColor: #3e3e3e;
$boxShadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.5;

$maxDesktopWidth: 1600px;
$lgDesktopWidth: 1440px;
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableDesktopWidth: 992px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;
